In [130]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import squarify

AZUL_PETROLEO = "#003366"
DORADO = "#FFA500"
ROSA = "#c706be"
ROJO = "#87050b"

airline = pd.read_csv("./customer_airways_data.csv", encoding="iso-8859-1")
airline.drop_duplicates(inplace=True)
airline = airline.loc[airline.booking_origin != "(not set)",:]

reviews = pd.read_csv("./cleaned-reviews.csv")

In [131]:
airline

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,0,1,5.52,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,Internet,RoundTrip,27,6,9,Sat,PERPNH,Australia,1,0,1,5.62,0
49996,1,Internet,RoundTrip,111,6,4,Sun,PERPNH,Australia,0,0,0,5.62,0
49997,1,Internet,RoundTrip,24,6,22,Sat,PERPNH,Australia,0,0,1,5.62,0
49998,1,Internet,RoundTrip,15,6,11,Mon,PERPNH,Australia,1,0,1,5.62,0
49999,1,Internet,RoundTrip,19,6,10,Thu,PERPNH,Australia,0,1,0,5.62,0

In [132]:
reviews

,Unnamed: 0,reviews,rates,date,country,verified,comments
0,0,✅ Trip Verified | Excellent service both on th...,5,2023-01-24,United Kingdom,True,excellent service ground board first class pro...
1,1,✅ Trip Verified | Good lounge at Cape Town. O...,9,2023-01-24,United Kingdom,True,good lounge cape town time departure drink hig...
2,2,✅ Trip Verified | A really excellent journey....,9,2023-01-23,United Kingdom,True,really excellent journey lounge overcrowded la...
3,3,✅ Trip Verified | This flight was one of the ...,9,2023-01-21,United Kingdom,True,flight one worst ever life wanted pamper bough...
4,4,Not Verified | It seems that there is a race t...,2,2023-01-19,United States,False,verified seems race bottom amongst airline can...
...,...,...,...,...,...,...,...
3406,3413,Flew British Airways from Sydney to Venice on ...,10,2014-05-20,Australia,False,flew british airway sydney venice nd april ret...
3407,3414,Recently for our honeymoon we took advantage o...,1,2014-05-19,United Kingdom,False,recently honeymoon took advantage ba promo fly...
3408,3415,LGW-Antigua on 29 April and Antigua-LGW on 13 ...,4,2014-05-18,United Kingdom,False,lgw antigua april antigua lgw may boeing start...
3409,3416,LHR-JTR-LHR. A tale of opposites for BA's new ...,2,2014-05-18,United Kingdom,False,lhr jtr lhr tale opposite ba new route santori...
3410,3417,Gatwick-Venice return. Two contrasting experie...,2,2014-05-18,United Kingdom,False,gatwick venice return two contrasting experien...

#### A continuacion, un top 3 de rutas preferidas por los clientes

In [133]:
airline.route.value_counts().head(3)

AKLKUL    2616
PENTPE     910
MELSGN     831
Name: route, dtype: int64

#### Correspoden con siglas IATA:
  * #### AKLKUL: New Zealand ---> Malaysia
  * #### PENTPE: Malasia ---> Taiwan
  * #### MELSGN: Australia --- > Vietnam
  
#### Fuente: https://www.flights.com.ar/codigos-aeropuertos-del-mundo-iata-icao/

#### Filtramos los reviews para esas "routes"

In [134]:
airline_filter_IATA = airline.loc[(airline.booking_origin == "New Zealand") & (airline.route.str.startswith("AKL")) & (airline.booking_complete == 1) ,:]
airline_filter_IATA

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
224,2,Internet,RoundTrip,245,27,11,Mon,AKLKUL,New Zealand,0,0,0,8.83,1
296,1,Internet,RoundTrip,95,83,6,Wed,AKLKUL,New Zealand,0,0,0,8.83,1
319,1,Internet,RoundTrip,197,19,3,Mon,AKLKUL,New Zealand,0,0,0,8.83,1
330,3,Internet,RoundTrip,95,24,8,Tue,AKLKUL,New Zealand,1,1,1,8.83,1
368,2,Internet,RoundTrip,71,30,6,Mon,AKLKUL,New Zealand,1,1,0,8.83,1
485,2,Internet,RoundTrip,35,255,1,Wed,AKLKUL,New Zealand,1,0,0,8.83,1
496,1,Internet,RoundTrip,5,28,9,Mon,AKLKUL,New Zealand,1,0,1,8.83,1
523,1,Internet,RoundTrip,58,21,9,Tue,AKLKUL,New Zealand,1,0,0,8.83,1
536,1,Internet,RoundTrip,32,18,10,Thu,AKLKUL,New Zealand,1,0,0,8.83,1
540,3,Internet,RoundTrip,71,18,8,Tue,AKLKUL,New Zealand,1,0,1,8.83,1
604,1,Internet,RoundTrip,292,20,6,Sun,AKLKUL,New Zealand,1,0,0,8.83,1
674,1,Internet,RoundTrip,237,49,9,Sun,AKLKUL,New Zealand,1,1,1,8.83,1
693,1,Internet,RoundTrip,76,85,0,Sun,AKLKUL,New Zealand,0,0,0,8.83,1
830,1,Internet,RoundTrip,68,28,2,Thu,AKLKUL,New Zealand,0,0,0,8.83,1
904,2,Internet,RoundTrip,179,21,11,Tue,AKLKUL,New Zealand,1,0,0,8.83,1
936,1,Internet,RoundTrip,76,17,0,Sun,AKLKUL,New Zealand,0,0,0,8.83,1
1038,2,Internet,RoundTrip,93,91,7,Mon,AKLKUL,New Zealand,1,1,1,8.83,1
1048,1,Internet,RoundTrip,59,36,10,Fri,AKLKUL,New Zealand,1,1,1,8.83,1
1056,1,Internet,RoundTrip,8,19,9,Thu,AKLKUL,New Zealand,0,0,1,8.83,1
1089,1,Internet,RoundTrip,133,18,16,Thu,AKLKUL,New Zealand,1,0,0,8.83,1
1134,2,Internet,RoundTrip,325,21,9,Mon,AKLKUL,New Zealand,1,0,0,8.83,1
1220,3,Internet,RoundTrip,363,49,6,Sun,AKLKUL,New Zealand,1,0,1,8.83,1
1229,1,Internet,RoundTrip,70,31,19,Tue,AKLKUL,New Zealand,1,0,1,8.83,1
1257,1,Internet,RoundTrip,233,83,7,Thu,AKLKUL,New Zealand,1,1,1,8.83,1
1330,1,Internet,RoundTrip,108,83,0,Sun,AKLKUL,New Zealand,0,0,0,8.83,1
1393,1,Internet,RoundTrip,15,32,6,Wed,AKLKUL,New Zealand,1,0,0,8.83,1
1489,2,Internet,RoundTrip,175,20,6,Tue,AKLKUL,New Zealand,1,0,0,8.83,1
1517,1,Internet,RoundTrip,31,20,5,Mon,AKLKUL,New Zealand,0,1,1,8.83,1
1551,1,Internet,RoundTrip,58,56,5,Fri,AKLKUL,New Zealand,1,0,0,8.83,1
1626,2,Internet,RoundTrip,10,56,9,Sat,AKLKUL,New Zealand,1,0,1,8.83,1
1692,1,Internet,RoundTrip,89,38,8,Thu,AKLKUL,New Zealand,1,0,1,8.83,1
1733,1,Internet,RoundTrip,314,20,10,Sun,AKLKUL,New Zealand,1,0,0,8.83,1
1794,2,Internet,RoundTrip,182,41,0,Fri,AKLKUL,New Zealand,1,0,0,8.83,1
1816,1,Internet,RoundTrip,13,17,5,Mon,AKLKUL,New Zealand,1,1,1,8.83,1
1850,1,Internet,RoundTrip,173,44,6,Sun,AKLKUL,New Zealand,0,0,1,8.83,1
1857,1,Internet,RoundTrip,15,29,2,Sat,AKLKUL,New Zealand,0,0,0,8.83,1
2066,2,Internet,RoundTrip,22,18,9,Fri,AKLKUL,New Zealand,1,0,1,8.83,1
25606,1,Internet,RoundTrip,3,2,11,Sat,AKLKUL,New Zealand,0,0,0,8.83,1
29362,1,Internet,RoundTrip,48,4,5,Thu,AKLKUL,New Zealand,0,0,1,8.83,1
34975,1,Internet,RoundTrip,19,5,4,Sat,AKLKUL,New Zealand,0,0,1,8.83,1
34992,1,Internet,RoundTrip,23,5,9,Wed,AKLKUL,New Zealand,0,0,0,8.83,1
35038,2,Internet,RoundTrip,58,5,21,Wed,AKLKUL,New Zealand,1,0,1,8.83,1
35075,1,Internet,RoundTrip,58,5,0,Tue,AKLKUL,New Zealand,1,0,0,8.83,1
42303,1,Internet,RoundTrip,32,6,12,Mon,AKLKUL,New Zealand,1,0,1,8.83,1
42350,1,Internet,RoundTrip,51,6,7,Tue,AKLKUL,New Zealand,0,0,0,8.83,1
42389,3,Internet,RoundTrip,1,6,11,Tue,AKLKUL,New Zealand,1,0,1,8.83,1

In [135]:
reviews.loc[reviews.country == "Malaysia",:]

,Unnamed: 0,reviews,rates,date,country,verified,comments
47,47,✅ Trip Verified | Check in was a shambles at ...,1,2022-11-07,Malaysia,True,check shamble bwi counter open full flight bag...
58,58,✅ Trip Verified | Evening flight from LHR to ...,2,2022-10-22,Malaysia,True,evening flight lhr iad check poor kiosk work w...
455,455,✅ Trip Verified | Doha to London. Surprisingl...,7,2019-11-19,Malaysia,True,doha london surprisingly good flight ontime de...
507,507,✅ Trip Verified | For a long time I have avoi...,10,2019-10-07,Malaysia,True,long time avoided taking british airway due po...
544,544,✅ Trip Verified | Edinburgh to Kuala Lumpur v...,8,2019-08-28,Malaysia,True,edinburgh kuala lumpur via london returned kl ...
750,750,✅ Trip Verified | Kuala Lumpur to Miami via L...,7,2019-01-26,Malaysia,True,kuala lumpur miami via london business class b...
795,795,✅ Trip Verified | Kuala Lumpur to Mexico City ...,1,2018-12-10,Malaysia,True,kuala lumpur mexico city via london journey ma...
847,847,"✅ Trip Verified | \nBA34 KUL-LHR 6 Sept, retur...",4,2018-09-20,Malaysia,True,ba kul lhr sept return ba lhr sin kul sept fli...
1028,1028,✅ Trip Verified | It was a 13 hours flight fro...,7,2018-03-20,Malaysia,True,hour flight heathrow kuala lumpur british airw...
1147,1147,✅ Trip Verified | Kuala Lumpur to Madrid via ...,1,2017-11-19,Malaysia,True,kuala lumpur madrid via london first time flyi...
1727,1727,✅ Verified Review | New York JFK to London. P...,2,2016-11-29,Malaysia,False,review new york jfk london pleasantly surprise...
2113,2113,✅ Verified Review | Gatwick to Amsterdam in B...,2,2016-03-23,Malaysia,False,review gatwick amsterdam business class truly ...
2412,2412,Never again with British Airways. Could not bo...,2,2015-10-15,Malaysia,False,never british airway could book seat arrived r...
3176,3181,Flew between LHR and JFK and the return leg wa...,1,2014-09-18,Malaysia,False,flew lhr jfk return leg iad lhr onward kul mh ...

--------------------------------------------------

#### Busco relacionar comentarios de purchase lead con el purchase_lead del airline

In [145]:
import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')

def menciona (comment):
  # Lista de palabras clave relacionadas con "purchase_lead"
  keywords = ["purchase_lead", "purchase lead", "lead", "sales lead", "buy lead"]
  # Tokenizamos el texto del comentario
  words = word_tokenize(comment)
  # Verificar si alguna palabra clave está presente en el comentario
  mentioned_purchase_lead = any(keyword.lower() in words for keyword in keywords)

  if mentioned_purchase_lead:
    return 1
  
  return 0

reviews_filter_purchase_lead = reviews
reviews_filter_purchase_lead["purchase_lead"] = reviews.reviews.map(menciona)


reviews_filter_purchase_lead.purchase_lead.value_counts()

reviews_filter_purchase_lead.loc[reviews_filter_purchase_lead.purchase_lead == 1,:]

[nltk_data] Downloading package punkt to /home/criss/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,Unnamed: 0,reviews,rates,date,country,verified,comments,purchase_lead
671,671,✅ Trip Verified | London Heathrow to Bengalur...,1,2019-04-23,India,True,london heathrow bengaluru found crew friendly ...,1
1044,1044,✅ Trip Verified | I flew British Airways from ...,3,2018-03-01,United Kingdom,True,flew british airway heathrow hong kong club wo...,1
1394,1394,"✅ Verified Review | Choose a budget airline, ...",1,2017-05-30,United Kingdom,False,review choose budget airline magic national ca...,1
1453,1453,✅ Verified Review | London Heathrow to Newark...,2,2017-04-27,United Kingdom,False,review london heathrow newark heard lot ba fir...,1
1457,1457,✅ Verified Review | London Gatwick to Pisa. I...,3,2017-04-26,United Kingdom,False,review london gatwick pisa fly route often fli...,1
1461,1461,✅ Verified Review | Singapore to London Heathr...,8,2017-04-24,United Kingdom,False,review singapore london heathrow reading negat...,1
1554,1554,❎ Unverified | London Heathrow - Pisa return....,4,2017-03-06,United Kingdom,False,unverified london heathrow pisa return fly rou...,1
1861,1861,✅ Verified Review | Gatwick to Malaga. Aircra...,1,2016-09-22,United Kingdom,False,review gatwick malaga aircraft remote stand ga...,1
2691,2691,LHR to YVR return. Hard earned Avios points tr...,4,2015-06-11,United Kingdom,False,lhr yvr return hard earned avios point trip ye...,1
3236,3241,On 28th July flew from Edinburgh to Gatwick. F...,1,2014-08-26,United Kingdom,False,th july flew edinburgh gatwick flight delayed ...,1
3296,3301,LHR-CPH-LHR. Business class on the way out and...,8,2014-07-15,United Kingdom,False,lhr cph lhr business class way economy return ...,1

In [146]:
reviews_filter_purchase_lead.loc[671].reviews

'✅ Trip Verified |  London Heathrow to Bengaluru. I found the crew very friendly and even humorous! Whenever the airhostesses passed through the aisle (I was on a seat next to the aisle) we would exchange some friendly comments which almost always lead to muffled laughs!  One air hostess admitted that she enjoyed such conversations which made the stress of her work lighter! '

In [148]:
reviews_filter_purchase_lead.loc[671].comments

'london heathrow bengaluru found crew friendly even humorous whenever airhostesses passed aisle seat next aisle would exchange friendly comment almost always lead muffled laugh one air hostess admitted enjoyed conversation made stress work lighter'